# Игнорирование файлов конфигурации
config.json

# Игнорирование виртуального окружения
venv/

# Игнорирование системных файлов
.DS_Store

# Игнорирование файлов Python
*.pyc
__pycache__/

processed_messages.json